html {
  height: fit-content;
}

body {
  background: #f9f9f9;
  height: 100%;
}

main {
  height: 100%;
  position: relative;
}

table {
  width: 100%;
}

thead {
  background: #ffffff;
  border-radius: 4px 4px 0px 0px;
}

.thead-with-margin::after {
  content: "@";
  display: block;
  line-height: 10px;
  text-indent: -99999px;
  background: #f9f9f9;
}

th {
  font-size: 14px;
  line-height: 20px;
  color: #000639;
  font-weight: 300;
  padding: 12px 0;
}

.avatar-block {
  width: 48px;
  min-width: 48px;
  height: 48px;
  background: #4d4dff;
  border-radius: 50%;
  margin-right: 4px;
}

.welcome-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.user-name {
  color: #4d4dff;
}

.enjoy-text {
  color: #636363;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 8px;
  gap: 8px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.block-header {
  background-color: #4d4dff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #ffff;

  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px 4px 0px 0px;
}

.block-header-grey {
  background-color: #e7e7ec;
  color: #000639;
}

.race-bar {
  border-radius: 8px;
  box-shadow: 0px 2px 4px -1px rgba(82, 91, 255, 0.08);
  font-size: 16px;
  line-height: 24px;
  color: #000639;
  background: #ffff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.race-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.race-image {
  flex-grow: 1;
  height: 259px;
  max-width: 300px;
}

.summary-details {
  flex-grow: 1.5;
  height: 235px;
}

.info-block-container {
  background: #ffff;
  border-radius: 8px;
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #f0f0f0;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
  color: #000639;
}

.info-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}

.info-block :nth-child(2) {
  font-weight: 300;
}

.yield-card {
  padding: 8px 0px 8px 8px;
  background: #ffffff;
  font-size: 14px;
  line-height: 24px;
  color: #636363;
}

.yield-block :nth-child(n + 1) {
  margin-bottom: 1px;
}

.yield-block :nth-last-child() {
  margin-bottom: 0px;
}

.suggested-wagers-card {
  padding: 8px 12px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.suggested-wagers-card .flex-column:nth-child(n) {
  flex-grow: 3;
}
.suggested-wagers-card .wager:nth-child(n) {
  flex-grow: 4;
  max-width: 100px;
}

.wager {
  padding: 10px;
  background: #ffffff;
  border: 1px solid #bfcfff;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: #000639;
  display: flex;
  justify-content: center;
}

.rounded-badge {
  padding: 4px 0px 4px 12px;
  background: #ffffff;
  border-radius: 4px;
}

.margin-left-8 {
  margin-left: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-left-center {
  justify-content: flex-start;
  align-items: center;
}

.flex-jc-center {
  justify-content: center;
}

.flex-jc-space-between {
  justify-content: space-between;
}

.player-number {
  width: 24px;
  height: 24px;
  display: flex;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  background: red;
}

.outline-number {
  -webkit-text-stroke: 1px black;
}

.horse-number {
  margin-right: 8px;
}

.margin-bottom-1 {
  margin-bottom: 1px;
}
.margin-bottom-4 {
  margin-bottom: 4px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}

.badges-stack {
  overflow-wrap: break-word;
}

/* .badges-stack :nth-child(n) {
  margin-bottom: 1px;
}

.badges-stack :nth-last-child() {
  margin-bottom: 0px;
  border-radius: 0px 0px 4px 4px;
} */

.exotic-result-badge {
  padding: 12px;
  background: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #000639;
  align-items: center;
}

.tracks-table-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.tracks-table-body .table-row:nth-of-type(2n + 2) {
  background: #f6f8fc;
}
/* .tracks-table-body :nth-child(n) {
  padding: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000639;
} */

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.tracks-header {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 2px 4px -1px rgba(82, 91, 255, 0.08);
  border-radius: 4px 4px 0px 0px;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.table-row {
  font-size: 14px;
  line-height: 24px;
  color: #000639;
  cursor: pointer;
  background: #ffffff;
}

.selected-row {
  background: #c4c4dd !important;
}

.table-row td {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.table-row td:first-child {
  padding-left: 16px;
  padding-right: 0;
}

.pgm-circle {
  background: #ff4d4d;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
}

.pgm-position {
  align-self: flex-end;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #828282;
}

.position-cell-horse-icon {
  padding-right: 14px;
  margin-right: 14px;
  border-right: 1px solid #f0f0f0;
}

.position-cell {
  padding: 10px 0;
  /* vertical-align: middle; */
}

.race-details {
  justify-content: space-between;
  max-width: 280px;
  width: 100%;
}

.horse-name-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #000639;
}

.win-odds-cell {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
}

.open-for-betting {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.left-bar {
  max-width: 332px;
}

.right-bar {
  max-width: 332px;
}

.mobile-sidebar-switcher {
  display: none;
}

.right-bar-mobile-header {
  display: none;
}

.close-left-bar {
  display: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
    padding: 8px 16px;
  }

  header div:last-child {
    width: 100%;
  }

  .left-bar {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #e5e5e5;
    height: 100%;
    max-width: 100%;
  }

  .right-bar {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background: #e5e5e5;
    height: 100%;
    max-width: 100%;
  }

  .right-bar-mobile-header {
    display: flex;
    background: #ffffff;
    justify-content: space-between;
    padding: 16px 14px;
  }

  .left-bar-mobile-header {
    display: flex;
    justify-content: space-between;
  }

  .close-left-bar {
    display: block;
    padding-right: 22px;
    cursor: pointer;
  }

  .mobile-sidebar-switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background: #ffffff;
  }

  .mobile-sidebar-switcher div:nth-child(n) {
    padding-top: 8px;
    padding-bottom: 12px;
    width: 100%;
    text-align: center;
  }

  .mobile-sidebar-switcher div:nth-child(1) {
    border-right: 1px solid #f0f0f0;
  }

  .visible {
    display: block;
  }

  .race-block {
    flex-direction: column;
  }

  .race-image {
    align-self: center;
  }
}
